<button class="block mx-auto w-full border border-solid text-primary-100 bg-accent-500 rounded-lg hover:bg-accent-600 transition-all delay-75 duration-100 ease-in-out">
  <a class=" block p-3" href=<%= url %>><%= text %></a>
</button>