<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/output.css" rel="stylesheet">
  <title><%= title %></title>
</head>

<body class="font-montserrat h-screen bg-primary-200">
  <div class="max-w-5xl mx-auto h-full">
    <main class="mx-5"><%- body %></main>
  </div>
</body>

</html>