<section class="h-screen flex flex-col items-center justify-center">
  <div class="flex flex-col items-center justify-center text-center gap-3">
    <div>
      <img src="/images/aim-cloud-logo.svg" class="w-52" alt=aim-cloud-logo">
    </div>
    <p class="font-medium">Precisely <i>Upload</i>, <i>Share</i>, and <i>Manage</i> your files.</p>
    <%- include('partials/_button', { text: 'Get started', url: '/login' }) %>
  </div>
</section>